* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1a1a1a;
  width: 100%;

  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.navbar div:first-child {
  position: relative;
  left: 10%;
  font-size: 30px;
  font-weight: 500;
}

.navigator {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: row;
  
}

.navigator a:link {
  margin: 40px;
  text-decoration: none;
  color: white;
}

.navigator a:visited {
  text-decoration: none;
  color: white;
}