* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.secondary-header {
  width: 100%;
  height: 60vh;
  background-image: url("../assets/background-2.png");
  color: white;
  text-align: start;

}

.description {
  position: relative;
  width: 50vh;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-bottom: 50px;
  font-size: 5vh;
}
